@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url(https://images.pexels.com/photos/3747490/pexels-photo-3747490.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    }
    .grid-container {
        display: grid;
        grid-gap: 16px;
        grid-template-columns: repeat(3, 1fr);
    }
    .cardcontainer {
        padding-top: 12%;
        background: #D2B48C;
        border-radius: 8px;
        position: relative;
    } 
  .cardcontent {
    position: absolute;
    width: 100%;
  }
    card {
        padding-top: 12%;
        background: #D2B48C;
        border-radius: 8px;
        position: relative;
    }
  img {
      max-width: 100%;
      max-height: 100%;
  }
  
</style>


<div class="text-center">
    <h1 class="display-4" style="font-family: Perpetua">Writely</h1>
</div>
<div class="grid-container">
    
    <card>
        <div class="cardcontent">
            <div class="card-img">
                <img src="https://i.pinimg.com/564x/75/35/20/753520b079783e156451a10e8e1c6bc0.jpg" style="width: 100%" height="150"/>
            </div>
            <div class="card-header">
                <h2>Naslov</h2>
            </div>
            <div class="card-body">
                <article>
                    Test
                </article>
            </div>
        </div>
    </card>
        
    
    <div class="cardcontainer">
       
        <div class="cardcontent">
            <div class="card-img-top">
                <img src="https://data.whicdn.com/images/290814852/original.jpg" style="width: 100%" height="150" />
            </div>
            <div class="card-header">
                <h2>Naslov</h2>
            </div>
            <div class="card-body">
                <article>
                    IDkkkk
                </article>
            </div>
        </div>
    </div>
    <div class="cardcontainer">
            <div class="cardcontent">
                <div class="card-img-top">
                    <img src="https://i.pinimg.com/564x/75/35/20/753520b079783e156451a10e8e1c6bc0.jpg" style="width: 100%" height="150"/>
                </div>
                <div class="card-header">
                    <h2>Naslov</h2>
                </div>
                <div class="card-body">
                    <article>
                        IDkkkk
                    </article>
                </div>
            </div>
        </div>
    


</div>
